body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image:url("images/stage.jpg");
  background-size:100vw 100vh;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}


.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}

.lineUpButton{
  padding:5px 12px;
  float:left;
  display: flex;
}

.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.popDancer{
  border:10px solid yellow;
  border-radius:0px;
}

.saitamaHeroDancer{
  border:none;
  border-radius:0px;
  height:50px;
  width:50px;
  background-image:url('images/saitama1.png');
  background-size:cover;
}

.drakeDancer{
  border:none;
  border-radius:0px;
  height:50px;
  width: 35px;
  background-image:url('images/drake.png');
  background-size:cover;
}